<?xml version="1.0" encoding="UTF-8"?>
<config>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value="15x3"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="2"/>
    <metadata key="plater_name" value="15x4"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_2.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_2.png"/>
    <metadata key="top_file" value="Metadata/top_2.png"/>
    <metadata key="pick_file" value="Metadata/pick_2.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="3"/>
    <metadata key="plater_name" value="15x5"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_3.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_3.png"/>
    <metadata key="top_file" value="Metadata/top_3.png"/>
    <metadata key="pick_file" value="Metadata/pick_3.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="4"/>
    <metadata key="plater_name" value="15x6"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_4.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_4.png"/>
    <metadata key="top_file" value="Metadata/top_4.png"/>
    <metadata key="pick_file" value="Metadata/pick_4.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="5"/>
    <metadata key="plater_name" value="15x7"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_5.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_5.png"/>
    <metadata key="top_file" value="Metadata/top_5.png"/>
    <metadata key="pick_file" value="Metadata/pick_5.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="6"/>
    <metadata key="plater_name" value="15x8"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_6.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_6.png"/>
    <metadata key="top_file" value="Metadata/top_6.png"/>
    <metadata key="pick_file" value="Metadata/pick_6.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="7"/>
    <metadata key="plater_name" value="15x9"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_7.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_7.png"/>
    <metadata key="top_file" value="Metadata/top_7.png"/>
    <metadata key="pick_file" value="Metadata/pick_7.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="8"/>
    <metadata key="plater_name" value="15x10"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_8.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_8.png"/>
    <metadata key="top_file" value="Metadata/top_8.png"/>
    <metadata key="pick_file" value="Metadata/pick_8.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="9"/>
    <metadata key="plater_name" value="15x11"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_9.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_9.png"/>
    <metadata key="top_file" value="Metadata/top_9.png"/>
    <metadata key="pick_file" value="Metadata/pick_9.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="10"/>
    <metadata key="plater_name" value="15x12"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_10.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_10.png"/>
    <metadata key="top_file" value="Metadata/top_10.png"/>
    <metadata key="pick_file" value="Metadata/pick_10.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="11"/>
    <metadata key="plater_name" value="15x13"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_11.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_11.png"/>
    <metadata key="top_file" value="Metadata/top_11.png"/>
    <metadata key="pick_file" value="Metadata/pick_11.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="12"/>
    <metadata key="plater_name" value="15x14"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_12.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_12.png"/>
    <metadata key="top_file" value="Metadata/top_12.png"/>
    <metadata key="pick_file" value="Metadata/pick_12.png"/>
  </plate>
  <plate>
    <metadata key="plater_id" value="13"/>
    <metadata key="plater_name" value="15x15"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="filament_maps" value="1 1 1 1"/>
    <metadata key="filament_volume_maps" value="0 0 0 0"/>
    <metadata key="thumbnail_file" value="Metadata/plate_13.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_13.png"/>
    <metadata key="top_file" value="Metadata/top_13.png"/>
    <metadata key="pick_file" value="Metadata/pick_13.png"/>
    <metadata key="pattern_bbox_file" value="Metadata/plate_13.json"/>
  </plate>
</config>
